body{
    margin: 0;
    padding: 0;
    background-color:rgba(43, 103, 113, 1) ;
}
.sansita-swashed{
    font-family: "Sansita Swashed", system-ui;
    font-weight: 300;
    font-style: normal;
  }
.share-regular {
    font-family: "Share", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.navbar {
  background-color: rgba(43, 103, 113, 1);
  display: flex;
  align-items: start;
  gap: 20px;
  color: rgba(255, 186, 166, 1);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 21px 62px 35px;
}

.Myfolio {
  letter-spacing: 1.75px;
  font-weight: 500;
  font-size: 35px;
  font-family: "Sansita Swashed";
  cursor: pointer;
}
.sidenav{
    position: relative;
  display: flex;
  margin-top: 13px;
  gap:20px;
  text-align: center;
  letter-spacing: 0.46px;
  font-family: "Share";
  font-weight: 500;
  font-size: 23px;
}

.home{
display: flex;
width: 120px;
height: 30px;
justify-content: center;
flex-shrink: 0;
}
.home:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.Aboutme{
    display: flex;
    width: 120px;
    height: 30px;
    justify-content: center;
    flex-shrink: 0;
    }
.Aboutme:hover {
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
.Resume{
        display: flex;
        width: 120px;
        height: 30px;
        justify-content: center;
        flex-shrink: 0;
        }
.Resume:hover {
            color: white;
            text-decoration: underline;
            cursor: pointer;
        }
 .Works{
            display: flex;
            width: 120px;
            height: 30px;
            justify-content: center;
            flex-shrink: 0;
            }
 .Works:hover {
                color: white;
                text-decoration: underline;
                cursor: pointer;
            }
 .Contact{
                    display: flex;
                    width: 120px;
                    height: 30px;
                    justify-content: center;
                    flex-shrink: 0;
                    }
.Contact:hover {
                            color: white;
                            text-decoration: underline;
                            cursor: pointer;
                        }
            
.hi-i-am-veena-budding-software-engineer {
    position: relative;
    top: 24%;
    padding-left:178px ;
    padding-top: 45px;
    color: rgba(255, 186, 166, 1);
    font-size: 30px;
    letter-spacing: 0.6px;
    font-family: "Share";
}

.a-curious-learner {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 25px;
    letter-spacing: 0.6px;
    font-family: "Share";
    width: 519px;
    height: 83px;
    padding-left:178px;
    padding-top: 243px;
}
.image-container {
    position: absolute;
    left: 983px;
    top: 24%;
    right: 0;
    width: 423x;
    height: 456px;

}

.download-cv {
    border:3px solid #ffbaa6;
    top:70%;
    left: 178px;
    border-radius: 15px;
    background-color: #ffbaa6;
    padding: 14px 26px;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B6771;
    font-family: Share;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}
.download-cv:hover {
    cursor: pointer;
    background-color: #2B6771;
    border: 3px solid #ffbaa6;
    color: #ffbaa6;
}
.cme{
    top:70%;
    left: 400px;
    border-radius: 15px;
    background-color: #2B6771;
    border: 3px solid #ffbaa6;
    padding: 14px 26px;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffbaa6;
    font-family: Share;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}
.cme:hover {
    cursor: pointer;
    background-color: #ffbaa6;
    color: #2B6771;
}
.about-me {
    position:relative;
    left: 380px;
    top: 600px;
    color: rgba(255, 186, 166, 1);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-family: "Share";
}


.image-container2 {
    position:relative;
    left: 178px;
    top: 600px;
    width: 300px;
    height: 300px;
}

.aboutme{
        position: absolute;
        top: 790px;
        left: 380px;
        width: 986px;
        height: 316px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        border-right: 1px #0A4A55;
        border-bottom: 1px #0A4A55;
        background: rgba(0, 0, 0, 0.00);
        overflow: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    h3{
        color: rgba(255, 186, 166, 1);
        font-family: Share;
        padding: 5px 5px 0 5px;
    }

    p {
        font-size: 16px;
        letter-spacing: 0.8px;
        padding: 0 5px 5px 5px;
        font-family: "Share";
        color: rgb(255, 255, 255);
    }
    .skills {
    position:relative;
    left: 178px;
    top: 800px;
    color: rgba(255, 186, 166, 1);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-family: "Share";
}

    .mys{
        position: relative;
        top:810px;
        left: 100px;
        width: 1270px;
        height: 316px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        border-right: 1px solid #0A4A55;
        border-bottom: 1px solid #0A4A55;
        background: rgba(0, 0, 0, 0.00);
        overflow: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .skill-box {
        display: flex;
        padding: 10px 10px 10px 10px;
        gap: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .skill-box img {
        width: 120px;
        height: 100px;
        object-fit: contain;
    }
   .works{
    position:relative;
    left: 178px;
    top: 910px;
    color: rgba(255, 186, 166, 1);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-family: "Share";
   }

   .wb{
    position: relative;
        top: 960px;
        left: 100px;
        width: 1270px;
        height: 410px;
        display: flex;
        justify-content:center;
        border-radius: 15px;
        border-right: 1px solid #0A4A55;
        border-bottom: 1px solid #0A4A55;
        background: rgba(0, 0, 0, 0.00);
        overflow: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }
.project-box {
    position: relative;
    height:400px;
    width:280px;
    border-radius: 15px;
    border-right: 1px solid #0A4A55;
    border-bottom: 1px solid #0A4A55;
    gap: 50px;
    background: rgba(0, 0, 0, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.project-box img {
    width: 280px;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
}   
.view-project {
    border: 3px solid #ffbaa6;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: #ffbaa6;
    padding: 14px 26px;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B6771;
    font-family: Share;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.view-project:hover {
    cursor: pointer;
    background-color: #2B6771;
    border: 3px solid #ffbaa6;
    color: #ffbaa6;
}

.div{
        position: relative;
        top: 1100px;
        background-color: rgba(36, 85, 93, 1);
        height:600px;
        width:100%;
}


html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: inherit;
}
